body {
  background: white;
  font-family: Open Sans, serif;
  font-weight: 400;
  text-align: center;
}

header {
  background: #E5F3F2;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  justify-content: center;
  padding: 2% 0% 1% 0%;
}

.header-1 {
  color: #00A79D;
}

.header-2 {
  color: #6D6E71;
}

.form {
  background: #E5F3F2;
  display: flex;
  flex-direction: column;
}

input {
  border: solid #CCCDCF;
  margin: 1% 0%;
  width: 50%;
} 

input::placeholder {
  color: #D3D4D5;
  padding-left: .25em;
}

#save-button {
  background: #00A79D;
  color: #FFFFFF;
  letter-spacing: .1em;
  margin: 1% 0%;
}

#save-button:hover {
  background: #045E55;
}

/*Card Styling*/
.idea-section {
  align-items: center;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.idea-card {
  border-bottom: 1px solid #CCCDCF;
  padding-bottom: 1em;
  text-align: left;
  width: 50%;
}

.card-line-1 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: flex;
  margin-top: 1.5em;
  justify-content: space-between;
}

.idea-card h2 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  font-weight: 700;
}

/* .delete-idea-button {
  background-image: url("images/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3em;
  width: 3em;
}

.delete-idea-button:hover {
  background-image: url("images/delete-hover.svg");
}

.idea-card p {
  color: #939598;
  margin: 1em 0em;
}

.up-vote-button {
  background-image: url("images/upvote.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3em;
  width: 3em;
}

.up-vote-button:hover {
  background-image: url("images/upvote-hover.svg");
}

.down-vote-button {
  background-image: url("images/downvote.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3em;
  margin-left: 1em;
  width: 3em;
} */

/* .down-vote-button:hover {
  background-image: url("images/downvote-hover.svg");
} */

.idea-card h3 {
  color: #6D6E71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0em 0 1em 1em;
  vertical-align: middle;
}

.idea-card button {
  background-color: transparent; 
  border: none;
}

/*Desktop Version*/
@media only screen and (min-width: 768px) {

  h1 {
    font-size: 3em;
    margin-bottom: .5em;
  }

  input {
    font-size: 2em;
  } 

  #save-button {
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  #search-input {
    margin: 1em 0em;
  }

}/* End Desktop Version*/

/*Mobile Version*/
@media only screen and (max-width: 768px) {

  h1 {
    font-size: 2em;
  }

  input {
    font-size: 1.5em;
    width: 80%;
  } 

  #body-input {
    overflow-wrap: break-word;
    padding-bottom: 75px;
  }

  .idea-card {
    width: 80%;
  }

  #save-button {
    margin-bottom: 1em;
  }

  #search-input {
    margin: 1em 0px;
  }

}/*End Mobile Version*/